@charset "UTF-8";
/* header */
header {height:100px; background-color: #333333;}
body {background-color: #ff4814;}
#mainLogo{width:100px; height:100px;}
.navBox{width:500px; height:50px; font-weight: bold;}
.navBox a:link{text-decoration: none; color: white;}
.navBox a:visited{text-decoration: none; color: white;}
.navBox a:active{text-decoration: none; color: white;}
.navBox a:hover{text-decoration: none; color: white;}
.buttonBox1{width:150px; height:50px;}
.buttonBox2{width:250px; height:50px;}
.loginBox {width: 70px; height:25px; background-color: #ff7a2f; color: white; font-size: 10px;}
.loginBoxId {font-size: 12px;}
.loginBoxIdFont{font-size:18px; color: #ff7a2f; font-weight: bold;}
.loginBox a:link{text-decoration: none; color: white;}
.loginBox a:visited{text-decoration: none; color: white;}
.loginBox a:active{text-decoration: none; color: white;}
.loginBox a:hover{text-decoration: none; color: white;}
.signOutBtn {font-size: 10px; color: white; background-color: #ff7a2f;}

.content {width:1110px; background-color: white;}

/* signInView */
#loginPage {width: 1110px; height: 600px; background-color: #ff7a2f;}
#loginBox0 {width: 1000px; height: 550px; background-color: white;}
#loginBox1 {width: 600px; height: 400px; background-color: #ff7a2f;}
#loginBox2 {width: 550px; height: 350px; background-color: white;}
.loginTitle{font-size: 40px; color: #ff7a2f;}
.loginInputTitle {font-size: 15px;}
.loginInput {width: 350px;}
.loginBtn {width:350px; background-color: #ff7a2f; color: white;}
.loginFindBox {width:200px; font-size: 15px;}
#loginBox2 a:link {text-decoration: none; color: black;}
#loginBox2 a:visited {text-decoration: none; color: black;}
#loginBox2 a:active {text-decoration: none; color: black;}
#loginBox2 a:hover {text-decoration: none; color: black;}

/* signUpView */
#signUpBox1 {width: 1110px; height: 700px; background-color: #ff7a2f;}
#signUpBox2 {width: 1000px; height: 600px; background-color: white;}
#signUpBox3 {width: 800px; height: 500px; background-color: #ff7a2f;}
#signUpBox4 {width: 750px; height: 450px; background-color: white;}
#signUpBox5 {width: 500px; height: 420px;}
#signUpBox {width: 300px;}
#signUpBoxTitle {font-size: 40px; color: #ff7a2f;}
.duplicatedLoginId {font-size: 10px; color: red;}
.possibleLoginId {font-size: 10px; color: green;}
.signUpBtn {background-color: #ff7a2f; color: white;}
.duplicatedIdBtn {font-size: 10px;}


/* introduceView - 다른 소개 페이지도 활용 */
.introduceBox1 {width:1110px; height:1000px; background-color: #ff7a2f;}
.introduceBox2 {width:1050px; height:950px; background-color: white;}
.introducebox3 {width:1000px; height:900px; background-color: #f2f2f2; border: 1px solid #333333;}
.introduceTitleBox {width: 900px; margin-top: 30px; border-bottom: 1px solid #333333;}
.introduceTitle {width: 130px; border-top: 3px solid #ff7a2f; color: black; font-size: 20px;}
.introduceContentBox {width: 400px; color: #ff7a2f; font-size: 20px;}
.introduceContent {color: black; font-size: 15px;}
.introduceImageBox {width: 400px;}
.winnerYear {width: 75px; height:75px; border-radius: 50%; background-color: #ff7a2f; color: white; font-size: 15px;}
.title {white-space:nowrap;}

/* 대표선수 소개 페이지 */
.representPlayerBox1 {width:1110px; height:1200px; background-color: #ff7a2f;}
.representPlayerBox2 {width:1050px; height:1150px; background-color: white;}
.representPlayerbox3 {width:1000px; height:1100px; background-color: #f2f2f2; border: 1px solid #333333;}
.representTable {width: 400px; font-size: 15px; color: black;}
.representTable th, .representTable td {border: 1px solid #333333;}

/* 로고 및 마스코트 페이지 */
.winnerImageBox {width: 800px;}
.logoBox1 {width:1110px; height:1200px; background-color: #ff7a2f;}
.logoBox2 {width:1050px; height:1150px; background-color: white;}
.logobox3 {width:1000px; height:1100px; background-color: #f2f2f2; border: 1px solid #333333;}

/* 경기장 페이지 */
.stadiumBox1 {width:1110px; height:1300px; background-color: #ff7a2f;}
.stadiumBox2 {width:1050px; height:1250px; background-color: white;}
.stadiumbox3 {width:1000px; height:1200px; background-color: #f2f2f2; border: 1px solid #333333;}
.stadiumTable{width: 300px; height: 300px; color: black; font-size:15px;}
.stadiumTable tr {border: 1px solid #969696;}

/* 코칭스태프 페이지 */
.couchBox1 {width:1110px; height:1300px; background-color: #ff7a2f;}
.couchBox2 {width:1050px; height:1250px; background-color: white;}
.couchbox3 {width:1000px; height:1200px; background-color: #f2f2f2; border: 1px solid #333333;}
.playerBox {width: 900px; height: 1100px;}
.playerTable {width:200px; height: 250px;}
.playerTable td {font-size:20px; font-weight: bold;}
.player {width: 200px; height: 250px; border: 1px solid #333333;}

/* 선수 세부사항 페이지 */
.detailPlayerBox1 {width:1110px; height:1200px; background-color: #ff7a2f;}
.detailPlayerBox2 {width:1050px; height:1150px; background-color: white;}
.detailPlayerbox3 {width:1000px; height:1100px; background-color: #f2f2f2; border: 1px solid #333333;}
.detailTitleBox {width: 900px; margin-top: 30px; border-bottom: 1px solid #333333;}
.detailTitle {width: 80px; border-top: 3px solid #ff7a2f; color: black; font-size: 20px;}
.detailTitleName {width: 100px; border-top: 3px solid #ff7a2f; color: black; font-size: 20px;}
.detailContentBox {width: 400px; color: #ff7a2f; font-size: 18px;}
.detailContent {color: black; font-size: 15px;}
.playerStatTable {width: 600px; height: 30px;}
.playerStatTable th, .playerStatTable td {border: 1px solid black;}
.playerAnnualStat {width: 950px;}

/* 경기일정 페이지 */
.matchBox1 {width:1110px; height:1200px; background-color: #ff7a2f;}
.matchBox2 {width:1050px; height:1150px; background-color: white;}
.matchbox3 {width:1000px; height:1100px; background-color: #f2f2f2; border: 1px solid #333333;}
.matchScheduleBox {width:900px; height:1000px;}
.matchScheduleBoxTitle {color: black; font-size: 30px;}
.matchScheduleBox a:link{text-decoration: none; color: black;}
.matchScheduleBox a:visited{text-decoration: none; color: black;}
.matchScheduleBox a:active{text-decoration: none; color: black;}
.matchScheduleBox a:hover{text-decoration: none; color: black;}
.matchScheduleBoxContent {width: 900px; height: 900px;}
.matchScheduleBoxContent th {border: 1px solid black;}
.matchScheduleBoxContent td {border: 1px solid black; width: 120px; height: 170px;}
.dateFont {font-size: 20px;}


/* footer */
footer {height:100px; background-color: #333333;}
