<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.SFG.player.dao.PlayerDAO">
	<select id="selectCoachList" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`introduce`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`position` like "%coach"
		
	</select>
	<select id="selectPitcherList" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`introduce`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`position`="pitcher"
	</select>
	<select id="selectInfieldList" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`introduce`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`position` = "infielder"
	</select>
	<select id="selectOutfieldList" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`introduce`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`position` = "outfielder"
	</select>
</mapper>