<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.SFG.player.dao.PlayerDAO">
	<select id="selectCoachList" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`position` like "%coach"
		
	</select>
	<select id="selectPitcherList" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`position`="pitcher"
	</select>
	<select id="selectInfieldList" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`position` = "infielder"
	</select>
	<select id="selectOutfieldList" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`position` = "outfielder"
	</select>
	<select id="selectPlayer" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`id` = #{playerId}
	</select>
	<select id="selectPlayerIntroduce" resultType="com.SFG.player.model.PlayerIntroduce">
		SELECT
			`id`,
			`playerId`,
			`title`,
			`content`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player_introduce`
		WHERE
			`playerId` = #{playerId}
	</select>
	<select id="selectPitcherStat" resultType="com.SFG.player.model.PitcherStat">
		SELECT
			`id`,
			`playerId`,
			`year`,
			`team`,
			`wins`,
			`losses`,
			`earned_run_average`,
			`games`,
			`game_started`,
			`saves`,
			`innings_pitched`,
			`hits`,
			`walks`,
			`strikeouts`,
			`whip`
		FROM
			`pitcher_stat`
		WHERE
			`playerId` = #{playerId}
	</select>
</mapper>