<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.SFG.player.dao.PlayerDAO">
	<insert id="insertPlayer" parameterType="map">
		INSERT INTO `player`
		(
			`name`
			,`number`
			,`position`
			,`birth`
			,`debut`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		)
		VALUE
		(
			#{name}
			,#{number}
			,#{position}
			,#{birth}
			,#{debut}
			,#{imagePath}
			,now()
			,now()
		)
		
	</insert>
	<insert id="insertBatterStatByPlayerId" parameterType="map">
		INSERT INTO `batter_stat`
			(
			`playerId`,
			`year`,
			`team`,
			`games`,
			`at_bats`,
			`runs`,
			`hits`,
			`doubles`,
			`triples`,
			`homerun`,
			`runs_batted_in`,
			`bases_on_balls`,
			`strikeouts`,
			`stolen_bases`,
			`hit_by_pitch`,
			`sacrifice_flys`,
			`createdAt`,
			`updatedAt`
			)
			value
			(
			#{playerId},
			#{year},
			#{team},
			#{games},
			#{at_bats},
			#{runs},
			#{hits},
			#{doubles},
			#{triples},
			#{homerun},
			#{runs_batted_in},
			#{bases_on_balls},
			#{strikeouts},
			#{stolen_bases},
			#{hit_by_pitch},
			#{sacrifice_flys},
			now(),
			now()
			)
	</insert>
	<select id="selectAllPlayerList" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
	</select>
	<select id="selectCoachList" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`position` like "%coach"
		
	</select>
	<select id="selectPitcherList" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`position`="pitcher"
	</select>
	<select id="selectInfieldList" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`position` like "infielder%"
			
	</select>
	<select id="selectOutfieldList" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`position` = "outfielder"
	</select>
	<select id="selectPlayer" resultType="com.SFG.player.model.Player">
		SELECT
			`id`,
			`name`,
			`number`,
			`position`,
			`birth`,
			`debut`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player`
		WHERE
			`id` = #{playerId}
	</select>
	<select id="selectPlayerIntroduce" resultType="com.SFG.player.model.PlayerIntroduce">
		SELECT
			`id`,
			`playerId`,
			`title`,
			`content`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM
			`player_introduce`
		WHERE
			`playerId` = #{playerId}
	</select>
	<select id="selectPitcherStat" resultType="com.SFG.player.model.PitcherStat">
		SELECT
			`id`,
			`playerId`,
			`year`,
			`team`,
			`wins`,
			`losses`,
			`earned_run_average`,
			`games`,
			`game_started`,
			`saves`,
			`innings_pitched`,
			`hits`,
			`walks`,
			`strikeouts`,
			`whip`
		FROM
			`pitcher_stat`
		WHERE
			`playerId` = #{playerId}
	</select>
	<select id="selectBatterStats" resultType="com.SFG.player.model.BatterStat">
		SELECT
			`id`,
			`playerId`,
			`year`,
			`team`,
			`games`,
			`at_bats`,
			`runs`,
			`hits`,
			`doubles`,
			`triples`,
			`homerun`,
			`runs_batted_in`,
			`bases_on_balls`,
			`strikeouts`,
			`stolen_bases`,
			`hit_by_pitch`,
			`sacrifice_flys`,
			`createdAt`,
			`updatedAt`
		FROM
			`batter_stat`
	</select>
	<select id="selectBatterStatListByPlayerId" resultType="com.SFG.player.model.BatterStat">
		SELECT
			`id`,
			`playerId`,
			`year`,
			`team`,
			`games`,
			`at_bats`,
			`runs`,
			`hits`,
			`doubles`,
			`triples`,
			`homerun`,
			`runs_batted_in`,
			`bases_on_balls`,
			`strikeouts`,
			`stolen_bases`,
			`hit_by_pitch`,
			`sacrifice_flys`,
			`createdAt`,
			`updatedAt`
		FROM
			`batter_stat`
		WHERE
			`playerId` = #{playerId}
	</select>
	<update id="updateBatterStatByPlayerId" parameterType="map">
		UPDATE `batter_stat`
		SET
			`year` = #{year},
			`team` = #{team},
			`games` = #{games},
			`at_bats` = #{at_bats},
			`runs` = #{runs},
			`hits` = #{hits},
			`doubles` = #{doubles},
			`triples` = #{triples},
			`homerun` = #{homerun},
			`runs_batted_in` = #{runs_batted_in},
			`bases_on_balls` = #{bases_on_balls},
			`strikeouts` = #{strikeouts},
			`stolen_bases` = #{stolen_bases},
			`hit_by_pitch` = #{hit_by_pitch},
			`sacrifice_flys` = #{sacrifice_flys},
			`updatedAt` = now()
		WHERE
			`playerId` = #{playerId}
	</update>
</mapper>